In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.Series([0.25, 0.33, 0.85, 1.0])
data.values

array([0.25, 0.33, 0.85, 1.  ])

In [5]:
data[1]

0.33

In [6]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [9]:
area = pd.Series({'Alaska': 120000, 'Texas': 8875742,
                  'California': 453788}, name='area')
population = pd.Series({'California': 42577, 'Texas': 26448443,
                        'New York': 757367836}, name='population')
_ = area.index & population.index

ipykernel_launcher:5: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead

In [12]:
_

Index(['Texas', 'California'], dtype='object')

In [27]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('ACB'))
B

   A  C  B
0  9  6  8
1  6  0  0
2  8  8  3