In [2]:
import numpy as np
import pandas as pd

In [4]:
value2 = np.array([1, np.nan, 3, 4]) 
value2.dtype

dtype('float64')

In [5]:
# Error
value2.sum(), value2.min(), value2.max()

(nan, nan, nan)

In [6]:
# 排除 空值
np.nansum(value2), np.nanmin(value2), np.nanmax(value2)

(8.0, 1.0, 4.0)

In [7]:
# check if is null
data = pd.Series([1, np.nan, 'abc', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [9]:
data.dropna()

0      1
2    abc
dtype: object

In [13]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [14]:
# 將存在 null 值得列刪除
df.dropna()

     0    1  2
1  2.0  3.0  5

In [15]:
# 將存在 null 值得行刪除
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [16]:
# 當該行的值全為null時*(how='all')，則該行(axis='columns')*捨棄。
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [17]:
# 將null值以0代替
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [18]:
# 將null值以後一項的資料值代替
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [24]:
# 將null值以前一項的資料值代替

df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      np.nan],
                   [np.nan, 4,      6]])
df.fillna(method='pad', axis=1)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  3.0
2  NaN  4.0  6.0